:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --opacidad-negro: black;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    /* --hover: #{adjust-hue($color, 45deg)}; */
}

#logo {
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.headerr {
    margin-top: 50px;
}


/* navbar */
.libro:hover,
.libro:focus {
    border-radius: 5px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--bs-light);
}


#libro-com:hover,
#libro-com:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-cyan);
    transform: translateY(-0.25em);
    border-radius: 5px;
}

#libro-for:hover,
#libro-for:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-teal);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

#libro-web:hover,
#libro-web:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-yellow);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

#libro-gal:hover,
#libro-gal:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-orange);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}


/* SECCION CARRUSEL */

.carruzel {
    height: 10px;
}

.carousel-inner {
    height: 350px;
}

.carousel-caption {
    height: 350px;
    /* display: flex; */
    flex-direction: column;
}

.titulos,
h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.subtitulos {
    font-family: 'Josefin Sans', sans-serif;
}

.carousel-caption {
    /* position: relative; */
    right: 15%;
    bottom: 10rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.text-uppercase {
    font-size: 60px;
    color: var(--bs-light);
}

.img-carrusel {
    /* background-image: */
    position: relative;
    right: 0%;
    bottom: 0rem;
    left: 0%;
}

.btn-link{
    color: var(--bs-white);
}

.btn-link:hover{
    color: var(--bs-dark);
}



/* SECCION PORTALES */
.card {
    border: 1px solid
}

.btn-portales {
    border: none;
}

.heon {
    color: var(--bs-cyan);
    /* border: 1px solid; */
}

.heon:hover,
.heon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-cyan);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.seven {
    color: var(--bs-teal);
}

.seven:hover,
.seven:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-teal);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.infopoint {
    color: var(--bs-yellow);
}

.infopoint:hover,
.infopoint:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-yellow);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.nomina {
    color: var(--bs-orange);
}

.nomina:hover,
.nomina:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-orange);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.permisos {
    color: var(--bs-red);
}

.permisos:hover,
.permisos:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-red);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.registro {
    color: var(--bs-pink);
}

.registro:hover,
.registro:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-pink);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}


/*estilos galeria*/

.galeria {
    position: absolute;
    right: 15%;
    bottom: 40.0rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-inner2 {
    height: 10px;
}

.carousel-inner2 img:hover {
    cursor: crosshair;
    width: 500px;
    opacity: 1;

}

/* GALERIA */
.galery {
    margin-top: 50px;
}


.event {
    display: flex;
    width: 400px;
    height: 100px;
}

.event img {
    width: 400px;
    flex-grow: 1;
    object-fit: scale-down;
    opacity: 8;
    transition: 3s ease;
}

.event img:hover {
    cursor: crosshair;
    width: 500px;
    opacity: 1;|

}





/* Dejar los @media siempre al final del archivo */
@media (max-width: 1366px) {
    .carousel-caption {
        justify-content: end;
        display: flex;
    }
}


@media (min-width: 1367px) {
    .carousel-caption {
        justify-content: start;
        display: flex;
    }

    .carousel-caption {
        bottom: 5rem;
    }
}

h1{
    text-align: center;
    color: #457b9d;
}
div.contenedor{
    width: 50%;
    height: 20%;
    overflow: auto;
    margin:auto;
    border: 3px solid #a8dadc;
    background-image: url(images/carousel1.webp);
}
.galery{
    list-style-type: none;
    text-align: center;
}
.galery li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    border-radius: -15px;
}

.cumple:hover,
.cumple:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-cyan);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.eventos:hover,
.eventos:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-cyan);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.galeria {
    position: absolute;
    right: 15%;
    bottom: 40.0rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-inner2 {
    height: 10px;
}

.carousel-inner2 img:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;

}
.foto{
    width: 100% !important;
    height: 420px !important;

}