:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    /* --hover: #{adjust-hue($color, 45deg)}; */
}

#logo {
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.headerr {
    margin-top: 50px;
}

/* .container-carousel{
    height: 10px;
    width: 50%;
} */

.fondo {
    background-color: var(--verdeOscuro);
}

.carruzel {
    height: 10px;
}

.carousel-inner {
    height: 350px;
}

.carousel-caption {
    height: 350px;
    /* display: flex; */
    flex-direction: column;
}


.titulos,
h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.subtitulos {
    font-family: 'Josefin Sans', sans-serif;
}

.carousel-caption {
    /* position: absolute; */
    right: 15%;
    bottom: 40.0rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.text-uppercase {
    font-size: 100px;
}

.heon {
    color: var(--bs-cyan);
}

.heon:hover,
.heon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-cyan);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.seven {
    color: var(--bs-teal);
}

.seven:hover,
.seven:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-teal);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.infopoint {
    color: var(--bs-yellow);
}

.infopoint:hover,
.infopoint:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-yellow);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.nomina {
    color: var(--bs-orange);
}

.nomina:hover,
.nomina:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-orange);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.permisos {
    color: var(--bs-red);
}

.permisos:hover,
.permisos:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-red);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}

.registro {
    color: var(--bs-pink);
}

.registro:hover,
.registro:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    background-color: var(--bs-pink);
    transform: translateY(-0.25em);
    color: var(--bs-white);
}




/*estilos galeria*/

.galeria {
    position: absolute;
    right: 15%;
    bottom: 40.0rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-inner2 {
    height: 430px;
}



@media (max-width: 1366px) {
    .carousel-caption {
        justify-content: end;
        display: flex;
    }
}


@media (min-width: 1367px) {
    .carousel-caption {
        justify-content: start;
        display: flex;
    }
}

